#about {
  background:-webkit-gradient(linear,left top,left bottom,from(rgba(47,23,15,.65))), $url_1;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  .intro {
    position: relative;
  }


  .clearfix {
    &:after {
      display: block;
      clear: both;
      content: "";
    }
  }

  .bg-faded {
    background-color: rgba(255, 255, 255, .85);
  }

  .section-heading {
    color: $color_secondary;
    text-transform: uppercase;
  }


  p {
    color: $color_secondary;
    margin-top: 0;
    line-height: 1.75;
  }

}